.navBar {
    height: 100%;  
    width: 25%;  
    position: fixed; 
    z-index: 1; 
    top: 0; 
    left: 0; 
    background-color:white; 
    transition: .5s ease; 
    overflow-x: hidden; 
    padding-top: 20px; 
    display: flex; 
    flex-direction: column; 
    align-items: center;
}

.map {
    width: 75%; /* 100% menos a largura da barra de navegação */
    height: 100vh; /* Ou a altura desejada */
    margin-left: 25%; /* Largura da barra de navegação */
    float: right; /* Move o mapa para a direita */
  }