.app {
    display: flex;
  }


.navbar {
    height: 100%;  
    width: 25%;  
    position: fixed; 
    z-index: 1; 
    top: 0; 
    left: 0; 
    background-color:rgb(232, 231, 231); 
    transition: .5s ease; 
    overflow-x: hidden; 
    padding-top: 20px; 
    display: flex; 
    flex-direction: column; 
    align-items: center;
}



.map {
    width: 76%; 
    height: 100vh; 
    margin-left: 25%; 
    float: right; 
  }

  .graphic {
    margin-left: 2%; 

  }

  .input-container {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 400px; 
    margin: 0 auto;
    margin-top: 10px;
  }
  
  .input-field {
    width: 75%; 
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px; 
    outline: none;
  }
  
  .square-button {
    padding: 10px 15px;
    background-color: #303131;
    color: white;
    border: none;
    border-radius: 0 5px 5px 0; 
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .square-button:hover {
    background-color: #0056b3;
  }
  